<!-- Please remove this file from your project -->
<template>
  <div class="bg-yellow-400 min-h-screen">
    <!-- judul -->
    <div class="sm:pt-20 p-6">
      <h2 class="text-2xl leading-7 font-bold">
        Kisah Peminjam Dana
      </h2>
      <p class="mt-3 text-gray-600">
        Kisah-kisah sukses pengguna KlikACC yang berhasil merubah hidupnya dengan KlikACC
      </p>
    </div>
    <!-- judul -->
    <div v-show="gambar" class="hidden md:flex justify-center px-1 py-1 ">
        <div :value="product.id" v-for="product in posts" v-bind:key="product.id" class="relative ">
          <button @mouseover="product.title = true" @mouseleave="product.title = false" @click="klik_gambar" >
          <img :src="product.foto" class="filter grayscale" alt="">
          <a  v-show="product.title"  class="cursor-pointer absolute opacity-80 bg-black rounded-full flex items-center justify-center h-24 w-24 text-yellow-400 text-sm left-28 top-1/2">BACA KISAH<br> {{ product.author }}</a></button>
          <a @click="klik_gambar" class="cursor-pointer opacity-80 absolute font-bold bg-white rounded-full text-yellow-400 text-lg md:hidden left-4 bottom-4">Baca Kisah {{ product.author }} >></a>
        </div>  
    </div>
    <div v-show="gambar" class="md:hidden flex w-full">
        <div v-show="product.gambaran" :value="product.id" v-for="product in posts" v-bind:key="product.id" class="relative" @click="klik_gambar">
          <img :src="product.foto" class="filter grayscale " alt="">
          <a  class="cursor-pointer opacity-80 absolute font-bold bg-white rounded-full text-yellow-400 text-sm md:hidden left-4 bottom-4">Baca Kisah {{ product.author }} >></a>
        </div> 
        <div v-show="gambar1">
          <a  class="cursor-pointer absolute opacity-80  font-bold bg-white rounded-full flex items-center justify-center h-6 w-6 text-white text-sm md:hidden left-40 bottom-80"></a>
          <a @click="klik_gambar4" class="cursor-pointer absolute opacity-30 font-bold bg-white rounded-full flex items-center justify-center h-6 w-6 text-white text-sm md:hidden left-48 bottom-80"></a>
        </div>
        <div v-show="gambar2">
          <a @click="klik_gambar5" class="cursor-pointer opacity-30 fixed font-bold bg-white rounded-full flex items-center justify-center h-6 w-6 text-white text-sm md:hidden left-40 bottom-80"></a>
          <a  class="cursor-pointer opacity-80 fixed font-bold bg-white rounded-full flex items-center justify-center h-6 w-6 text-white text-sm md:hidden left-48 bottom-80"></a>
        </div>
    </div>
    <div v-show="show1" :value="product.id" v-for="product in posts" v-bind:key="product.id"  class="flex flex-row justify-center ">
        <div class="relative hidden md:block">
          <img :src="product.foto" class="" alt="">
        </div>  
        <div class="relative ">
          <img :src="product.foto" class="flip filter grayscale" alt="">
          <div class="absolute h-full opacity-80 warna bg-white p-6 text-white text-sm left-0 top-0">
            <p class="text-left text-2xl">"{{product.desc}}"</p>
            <p class="text-base font-bold mt-4">{{product.name}} </p>
            <p >{{product.pekerjaan}}</p>
            <p class="text-base mt-4">Dana Terkumpul</p>
            <p class="font-bold text-xl">Rp{{product.dana}}</p>
            <p class="absolute left-40 -mt-6">dalam {{product.waktu}} menit</p>
            <button @click="close_gambar">
              <svg xmlns="http://www.w3.org/2000/svg" class="absolute h-10 w-10 right-3 top-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
          </div>
        </div>  
        <div class="relative hidden md:block">
          <img src="@/assets/2.png" class="filter grayscale " alt="">
        </div>  
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        posts: [],
        upHere1 : false,
        upHere2 : false,
        upHere3 : false,
        upHere4 : false,
        show1: false,
        show2: false,
        show3: false,
        show4: false,
        gambar:true,
        gambar1:true,
        gambar2:false
      }
    },

    mounted() {
            this.$axios.get('/posts').
                then((response) => {
                        console.log(this.posts)
                        this.posts = response.data
                }).catch(error => {
                    console.log(error.response.data)
                })
    },
    methods:{
      klik_gambar(){
        this.gambar = false
        this.show1 = true
      },
      klik_gambar1(){
        this.gambar = false
        this.show2 = true
      },
      klik_gambar2(){
        this.gambar = false
        this.show3 = true
      },
      klik_gambar3(){
        this.gambar = false
        this.show4 = true
      },
      klik_gambar4(){
        this.gambar1 = false
        this.gambar2 = true
      },
      klik_gambar5(){
        this.gambar1 = true
        this.gambar2 = false
      },
      close_gambar(){
        this.gambar = true
        this.show1 = false
        this.show2 = false
        this.show3 = false
        this.show4 = false
      },
    }

  }
</script>
<style>
.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(1); /* linting rule fix + IE9 fix */
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.warna{
  background: linear-gradient(108.59deg, #2DC7D3 -2.5%, #2093B9 98.62%, #0A3D8F 192.74%);
}
</style>